@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

image {
  display: block;
  min-width: 100%;
}

.hero {
  background: url(../img/bg-1.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 83px;
}

.hero__title-section {
  width: 42%;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.23;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 55px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 22px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
}

.phone-number {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 40px;
  margin-right: 11px;
}

.feature__text {
  font-size: 16px;
  font-weight: bold;
  max-width: 90px;
}

.btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 100px;
  line-height: 1;
  display: inline-block;
  border: none;
}
.btn--theme--yellow {
  background: #FEDB3F;
  color: #000;
}
.btn--theme--yellow:hover {
  background: #FFD517;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: normal;
}
.btn--theme--transparent:hover {
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__headline {
  text-align: center;
  margin-bottom: 25px;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}

.section__subtitle {
  padding: 0 27%;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/dots.svg");
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 8px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 27px;
  color: #292929;
  margin-bottom: 15px;
}

.benefit__desc {
  font-weight: 300;
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__display-avatar {
  width: 253px;
  height: 264px;
}

.reviews__display-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__display-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__display-title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 14px;
  color: #292929;
}

.reviews__display-text {
  margin-bottom: 25px;
}

.reviews__display-author {
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
}
.interactive-avatar:hover {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order {
  background: url(../img/bg-order.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.order .section__title {
  color: inherit;
  margin-bottom: 50px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.form__row--comment {
  margin-bottom: 35px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 14px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 18px 11px;
  border: 3px solid transparent;
  border-radius: 4px;
}
.form__input--textarea {
  height: 174px;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 20px;
  margin-bottom: 20px;
}
.radio--checkbox {
  margin-bottom: 45px;
}
.radio--checkbox .radio__visible {
  border-radius: 15%;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/checkmark.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 20px;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 4%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}