.block {
  height: 100px;
  border: 1px solid black;

  &__one {
    width: 100px;
    height: 50px;
    background: red;
  
    &:hover {
      background: blue;
    }
  
    &:after {
      content: 'я элемент афтер';
    }
  
    & + .block__one {
      background: blue;
    }
  } 
}