.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: rem(8px);

  @include phones {
    margin-bottom: 0;
    margin-right: rem(10px);
  }
}

.benefit__image-wrapper {
  display: inline-block; 
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: rem(27px);
  color: $black;
  margin-bottom: rem(15px);

  @include phones {
    margin-bottom: rem(8px);
  }
}

.benefit__desc {
  font-weight: 300;
}

