// .benefits {
//   @include phones {
//     margin-bottom: 200px;
//   }
// }

.benefits__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(28px);
  }

  &:before {
    content: url('../img/dots.svg');
    position: absolute;
    top: rem(60px);
    right: 0;
    transform: translateX(50%);

    @include phones {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}