.btn {
  font-size: rem(16px);
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: rem(20px) rem(40px);
  border-radius: rem(100px);
  line-height: 1;
  display: inline-block;
  border: none;

  &--fontsize-phones {
    @include phones {
      font-size: rem(19px);
    }
  }

  &--theme--yellow {
    background: $yellow;
    color: #000;

    &:hover {
      background: $yellowHover;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;
    font-weight: normal;

    &:hover {
      color: $yellow;
    }
  }
}