.btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 100px;
  line-height: 1;
  display: inline-block;
  border: none;

  &--theme--yellow {
    background: $yellow;
    color: #000;

    &:hover {
      background: $yellowHover;
    }
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;
    font-weight: normal;

    &:hover {
      color: $yellow;
    }
  }
}