.dropdown{
  position: relative;
  display: block;
  flex-direction: column;
}

.dropdown:hover .dropdown__menu {
  left: 0;
  opacity: 1;
}

.dropdown:hover .dropdown__link{
  color: #fff;
}

.dropdown__menu{
  margin-top: -138px;
  margin-left: 91px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  top: 100%;
  left: -9999px;
  opacity: 0;
  transition: opacity .3s;
}

.dropdown__menu:before{
  content: "";
  display: block;
  height: 290px;
  left: -35px;
  right: 272px;
  top: 0;
  position: absolute;
}

.dropdown__list{
  height: 296px;
  width: 274px;
  padding: 28px 28px; 
}

.dropdown__item{
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;

  // &:last-child {
  //   margin-bottom: 0;
  // }

  &--value {
    font-size: rem(16px);
    font-weight: normal;
  }
}

.item__img {
  width: 24px;
  height: 24px;
  margin-right: 16px;

  &--length {
    height: 15px;
  }

  &--vector {
    width: 18px;
  }
}

.item__title {
  margin-right: 16px;
  width: 127px;
  font-weight: 500px;
}

.item__value {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  width: 53px;
}
