.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(23px) 0;
  background: #fff;
  margin-top: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}