.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 20%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(15px);

  &--comment {
    margin-bottom: rem(35px);

    @include tablets {
      margin-bottom: rem(14px);
    }
  }
}

.form__block {
  flex: 1;
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(18px) rem(11px);
  border: rem(3px) solid transparent;
  border-radius: rem(4px);

  @include tablets {
    padding: rem(4px) rem(11px);
  }

  &--textarea {
    height: rem(174px);
    resize: none;

    @include tablets {
      height: rem(80px);
    }
  }

  &:focus {
    border-color: $yellow;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  @include tablets {
    display: flex;
    justify-content: center;
  }
}