.fullscreen-menu {
  display: none;

  @include tablets {
    position: relative;
    display: block;
    background-color: #333537;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 135px 258px;
  }
}

.fullscreen-menu__img {
  position: absolute;
  top: 42px;
  right: 42px;
  width: 20px;
  height: 20px;
}

