.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    margin-bottom: rem(145px);
  }

  @include phones {
    margin-bottom: rem(220px);
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}


.logo {
  width: rem(56px); 
  height: rem(40px);
}

.menu {
  margin: 0 rem(30px);
  padding-top: rem(3px);

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin-right: rem(22px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;

}

.phone-number {
  font-size: rem(22px);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: rem(13px);
  height: rem(13px);
  margin-right: rem(6px);

  &--white {
    fill: #fff;
  }
}