.hero {
  background: url(../img/bg-1.jpg) center 0 no-repeat;
  height: 100vh;
  min-height: 650px;
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 83px;
}

.hero__title-section {
  width: 42%;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.23;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 55px;
}