.order {
  background: url(../img/bg-order.jpg) no-repeat;
  background-size: cover;
  color: #fff;

  @include tablets {
    background: url(../img/bg-order-768.jpg) no-repeat;
  }

  .section__title {
    color: inherit;
    margin-bottom: rem(50px);

    @include tablets {
      margin-bottom: rem(28px);
    }
  }
}