.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(20px);
  margin-bottom: rem(20px);

  &--checkbox {
    margin-bottom: rem(45px);

    @include tablets {
      margin-bottom: rem(40px);
    }

    .radio__visible {
      border-radius: 15%;
      
      &:before {
        background: url("../img/checkmark.svg") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: rem(20px);

  &:before {
    content: "";
    width: rem(14px);
    height: rem(14px);
    background: $yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}