.reviews__display {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.reviews__display-avatar {
  width: 253px;
  height: 264px;
}

.reviews__display-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__display-content {
  flex: 1;
  margin-left: 40px;
}

.reviews__display-title {
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 14px;
  color: $black;
}

.reviews__display-text {
  margin-bottom: 25px;
}

.reviews__display-author {
  font-weight: 500;
  color: $black;
}