// .reviews {
//   @include phones {
//     margin-bottom: 200px;
//   }
// }

.reviews__display {
  background: #F8FAF9;
  padding: rem(42px);
  margin-bottom: rem(15px);
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    text-align: center;
    padding: rem(56px);
  }
}

.reviews__avatar {
  width: rem(253px);
  height: rem(264px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-bottom: rem(30px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__desc {
  flex: 1;
  margin-left: rem(40px);
}

.reviews__title {
  font-weight: bold;
  font-size: rem(27px);
  margin-bottom: rem(14px);
  color: $black;
}

.reviews__text {
  margin-bottom: rem(25px);

  @include tablets {
    margin-bottom: rem(12px);
  }
}

.reviews__author {
  font-weight: 500;
  color: $black;
}