.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font--color--white {
    color: #fff;

    .section__title {
      color: inherit;
      margin-bottom: 50px;
    }
  }
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  color: $black;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}