.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__headline {
  text-align: center;
  margin-bottom: rem(25px);

  &--phones-benefits { 
    @include phones {
      margin-bottom: rem(60px);
    }
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  color: $black;
  margin-bottom: rem(8px);
  text-align: center;
  text-transform: uppercase;

  @include phones {
    font-size: rem(40px);
    margin-bottom: 0;
  }
}

.section__subtitle {
  padding: 0 27%;
  padding-bottom: rem(20px);

  @include phones {
    padding: 0 3%;
  }
}