.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__headline {
  text-align: center;
  margin-bottom: 25px;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  color: $black;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}

.section__subtitle {
  padding: 0 27%;
  padding-bottom: 20px;
}